{% extends 'layouts/site.html.twig' %}

{% block content %}
<div class="example-wrapper">
    <h3>Software Version: {{ softwareVersion }}! ✅</h3>
    <h3>PHP Version: {{ phpVersion }}! ✅</h3>
    <h3>Symfony Version: {{ frameworkVersion }}! ✅</h3>
    <h3>Timezone: {{ timeZone }}! ✅</h3>
</div>
{% endblock %}
