<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}{{ title }}{% endblock %}
	</title>
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	{% block styles %}{% endblock %}
</head>

<body>
	{% include 'site/shared/navbar.html.twig' %}
	
	{% block body %}{% endblock %}

	<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
	{% block scripts %}{% endblock %}
</body>

</html>